


.sign{
display: flex !important;
display: none !important;
position: fixed;
background-color: rgba(119, 119, 119, 0.9);

padding: 5rem 5rem !important;
justify-content: center;
align-items: center;
height: 100vh;

}
#signit {
    color: var(#2185D5) !important;
font-weight: 700;
font-family: sans-serif;
font-size: 30px;
}
#sign{
border: none !important;
background-color: none !important;
color: white !important;
}
.closeX{
    margin-left: 100%;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
}
.showContainer{
    display: block !important;

}
form{
    display: block;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

form input{
    display: block;
    flex-direction: column;
    width: 22rem;
    font-size: 15px;
    outline: none;
    border: 2px solid grey;
    border-radius: 10px;
    padding: .5rem .5rem;
}


.error{
    border:3px solid orange;
}
.success{
    border:3px solid rgb(41, 214, 25);

}

form p{
    font-family: 'Poppins',sans-serif;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 153, 0);
    opacity: 0;
    height: 0;
}

input.error + p{
    opacity: 1;
    height: auto;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 700px) {
    form input{
        display: block;
        flex-direction: column;
        width: 100%;
        font-size: 15px;
        outline: none;
        border: 2px solid grey;
        border-radius: 10px;
        padding: .5rem .5rem;
    }
}