:root{
    /* colors : #2185D5 #3A4750 #303841 #F3F3F3; */

    --primary: #2185D5;
    --grey: #3A4750;
    --dark: #303841;
    --light: #F3F3F3;
    --delay: 2s;
}

*{
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--light);
    padding: .5rem 5rem !important;
    position: sticky;
}
#cartBtn{
    color: var(--primary);
    outline: none;
    border: none;
}
#cartBtn:hover{
    color: var(--grey);
}
main{
    margin: 0;
    padding: 0;
}
.container-fluid{
    height: auto;
    z-index: 2;
}
a{
    text-decoration: none !important;
    color: #303841 !important;
}
a:hover{
    color: #2185D5 !important;
}
.head{
    text-transform: uppercase;
    margin: 1rem .5rem;
}
h5{
    color: #2185D5 !important;
}

.product{
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
    margin-left: 4rem;
}

.content{
    margin-left: 3rem;
}
.product img{
    max-height: 12rem !important;
    max-width: 10rem !important;
    margin-top: 15px;
}

p{
    line-height: 20px;
}

.cartPage{
    width: 50%;
    background-color: var(--light);
    position: fixed;
    height: 100vh;
    z-index: 1;
    translate: -100%;
    transition: translate .5s;
}

.showCart{
    translate: 0px;
    
}
.cartPage img{
    width: 6rem;
    height: 7.9rem;
}

.cartData{
    display: flex;
}
.cartPage{
    display: flex;
}
.icon{
    margin-top: .5rem;
    margin-right: 1rem;
}
.right{
    margin-left: 8%;
    margin-top: 5rem;
    margin-right: 1rem;
    position: sticky;
    background-color: white;
    width: 18rem;
    max-height: 20rem;
    padding: 1rem 1rem;
}
#val{
    display: flex;
    justify-content: space-between; 
}
.btn-large{
    border-radius: 2px !important;
    width: 100%;
    margin-top: 1rem;
}
strike{
    color: #303841;
    margin-right:5px;
}
@media only screen and (max-width: 1260px) {
    .right{
        margin-left: 8% !important;
        width: 20rem;
        margin-right: 1rem;
        margin-top: 3rem;
    }
    .cartPage{
        width: 65%;
    }
}

@media only screen and (max-width: 980px) {
    .cartPage{
        display: block;
        padding: 0 1rem;
    }
    .right{
        bottom: 0;
        margin-left: 0 !important;
        width: 100%;
    }
    .cartPage{
        width: 70%;
    }
}
@media only screen and (max-width: 700px) {
   
   
    .product{
        margin-left: .5rem;
    }
    .container-fluid{
        font-size: 16px;
    }
  
    h3{
        font-size: 23px !important;
    }
    .product img{
        display: flex;
        margin-top: 10px;
        align-items: center;
    }
    .container-fluid{
        height: auto;
      
    }
    .cartPage{
        width: 80%;
    }
    nav{
        padding: .1rem .1rem !important;
    }
    
}

@media only screen and (max-width: 500px) {
   
    .content{
        margin-left: 1rem;
    }
 p{
     font-size: 14px;
     line-height: 15px;
 }
    h3{
        font-size: 18px !important;
    }
    button{
        width: auto;
        height: auto;
        font-size: 15px !important;
    }
    .product{
        margin-left: .2rem;
    }
    .cartPage{
        width: 98%;
    }
}
